<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="icon" type="image/png" href="/public/images/BL-web-pico.png">
    <title>Yum </title> 


</head>
<header>
    <h1>_Out of this World_ <i class="fas fa-globe-americas"></i> _Resturants APP_</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/new">Add a Resturant</a></li>
        </ul>
    </nav>
</header>

<body>

    {{{body}}}

</body>


   
<footer> 
    <a class="fLink" href="https://www.brianloveless.com" target="_blank" > by:  Brian for GA </a>
<br> 
    <div class="dev">
         <a class="dev" href="https://dev.to/brianlovega" target="_blank">
      My Dev.to 
      </a> 
    </div>
</footer> 

    


</html>