<h2> What tasty new place do you want to share with us? </h2>

<form action="/" method="POST">

    <label for="name">Name of new Resturant</label>
    <input type="text" name="name" value="Name of place?">
    <label for="owner">Owner Info</label>
    <input type="text" name="owner" value=" Who runs the joint?">
    <label for "type">Type of food </label>
    <input type="text" name="type"value="What do they have?" >
    <label for="capacity">Capacity of the place</label>
    <input type="text" name="capacity" value=" 15? 500? ... just enter a number">
    <br>
    <input class="button" type="submit" value="Create Resturant">

</form>
